@media screen and (min-width: 900px) {
	
	.logo {
		min-width: 5.375rem;
	}
	
	.page__title {
		font-size: 48px;
        margin: 50px 0 0 0;
	}

	.page__text {
		font-size: 20px;
	}
	
	.form-email {
        display: grid;
		grid-template-columns: 66% 1fr;
		grid-template-rows: 1fr;
		column-gap: 1rem;
		margin: 40px 0 0 0;
	}
    
	.email-input-rounded {
        grid-column-start: 1;
		min-width: 420px;
		padding: 20px 10px 20px 30px;
		border-radius: 9999px;
	}
	
	.email-input-rounded::placeholder {
        font-size: 1rem;
	}
	
	.btn-rounded--blue {
        grid-column-start: 2;
		background-color: var(--clr-blue-400);
		color: var(--clr-white);
		font-size: 18px;
		font-weight: var(--fw-400);
		padding: 18px 2rem 18px 2rem;
		min-width: 200px;
		align-self: flex-end;
		margin: 0;
	}
    
    .hero {
        min-width: 640px;
        margin: 80px 0 0 0;
    }

    .copyright {
        font-size: 12px;
    }

}